.outerCont{
    padding:2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.input{
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
}
.label{
    font-size: 1.3rem;
    margin-bottom: .5rem;
    font-weight: 500;
}

.btn{
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}